body {
    background-color: #2B1502;
    font-family: arial;
}

.title-container {
    position: absolute;
    width: 100%;
    top: 20px;
}

.text-header {
    text-align: center;
    width: 100%;
}

.the-header span {
    margin: 0 auto;
    font-family: lobster;
    font-size: 28px;
    color: #FFF;
}

.brewshop-header span {
    margin: 0 auto;
    font-family: impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
    font-size: 66px;
    color: #FFF;
}

.sofia-header span {
    margin: 0 auto;
    font-family: lobster;
    font-weight: bold;
    font-size: 28px;
    color: #FFF;
}

.equation-text {
    position: absolute;
    top: 40%;
    right: -15px;
    font-family: impact;
    font-weight: bold;
    font-size: 40px;
    color: #FFF;
}

.bc-ruler {
    width: 12%;
    margin: 5px auto;
    border-bottom: 2px solid white;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 52px;
    background-color: #222;
    z-index: 1000;
}

.main {
    position: fixed;
    top: 52px;
    bottom: 52px;
    width: 100%;
    background: #222 url('../img/malt.jpg') no-repeat fixed center center;
    z-index: 100;
}

.calculator-container {
    position: absolute;
    top: 280px;
    bottom: 20px;
    width: 100%;
    overflow: auto;
}

.ingredient-container {
    height: 300px;
    margin: 0;
}

.batch-container {
    position: absolute;
    top: 220px;
    width: 30%;
    height: 45px;
    margin: 0 35%;
    padding: 5px 0 0 0;
    overflow: auto;
    border: 1px solid #2B1502;
    background-color: rgba(255, 218, 170, 0.57);
}

.ingredient {
    width: 80%;
    height: 100%;
    margin: 0 10%;
    padding: 5px;
    border: 1px solid #2B1502;
    background-color: rgba(255, 218, 170, 0.57);
}

.calculator {
    padding: 20px 200px;
}

.calculator-text {
    margin: 0 5px;
    font-family: lobster;
    font-size: 16px;
    color: #FFF;
}

.vertical-center {
    top: 50%;
    display: block;
    position: absolute;
    transform: translateY(-50%);
}

.bc-input {
    display: inline;
    width: 180px;
    font-size: 12px;
    line-height: 12px;
}

.bc-input-small {
    display: inline;
    width: 50px;
    font-size: 12px;
    line-height: 12px;
}

.bc-input-smallest {
    display: inline;
    width: 20px;
    font-size: 12px;
    line-height: 12px;
}

.delete-button {
    color: lightgray;
    font-weight: bold;
}

.info {
    position: absolute;
    right: 50px;
    bottom: 10px;
    color: white;
    cursor: default;
}

.results {
    background: rgba(255, 218, 170, 0.57) url('../img/beer.png') no-repeat 0 40px;
    background-size: 200px auto;
}

.results-details {
    position: absolute;
    width: 100%;
    top: 100px;
    left: 100px;
    font-family: arial;
    font-size: 10px;
    color: #FFF;
}
